/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 0;
  position: relative;
  background: url('../img/background-sea.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jumbotron .container {
  max-width: 100%;
  z-index: 2;
  min-height: 350px;
  padding-top: 50px;
}

.jumbotron h1 {
  font-size: 80px;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  color: #ffffff;
}

.home-carousel ul {
  color: #fff;
}

.jumbotron-contact {
  padding: 30px;
  margin-bottom: 0;
  min-height: 150px;
  position: relative;
  background: url('../img/contact.jpg') center center repeat;
  background-size: cover;
  background-position-y: 35%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jumbotron-about {
  padding: 30px;
  margin-bottom: 0;
  min-height: 150px;
  position: relative;
  background: url('../img/about.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jumbotron-no-background {
  padding: 30px;
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jumbotron-media {
  padding: 30px;
  margin-bottom: 0;
  min-height: 150px;
  position: relative;
  background: url('../img/media.jpg') center repeat;
  background-size: cover;
  background-position-y: 65%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jumbotron-events {
  padding: 30px;
  margin-bottom: 0;
  min-height: 150px;
  position: relative;
  background: url('../img/calendar.jpg') repeat;
  background-size: cover;
  background-position-y: 23%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#footer {
  background: #ffffff;
  padding: 50px 0;
  color: #1a1919;
  margin-top: 40px;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
  color: #000000;
}
#footer h4 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.08em;
}

.box-simple {
  text-align: center;
  margin-bottom: 40px;
}

.box-simple p {
  text-align: center;
}