<footer id="footer">
    <div class="container">

        
        <div class="col-md-4 col-sm-6">
            <!-- star LOGOS -->
            <p><img src="img/rakuten-new-logo.png" width="200" alt="The new logo of Rakuten" /></p>
            <img src="img/carousel/rmn-logo-test.png" width="200" width="100" alt="The new logo of Rakuten" />
        <!-- end LOGOS -->
        </div>
        <!-- /.col-md-4 -->
        
        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-4 col-sm-6">
            <h4>{{ i18n "aboutUs" }}</h4>

            {{ .Site.Params.about_us | markdownify }}

            <br /> 
            <h4><a href="https://confluence.rakuten-it.com/confluence/display/RMN/">Confluence</a></h4>
            <h4><a href="https://www.facebook.com/rakutenmindfulness/">Facebook</a></h4>
            <h4><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=2bCoUwDZzEidflk13I1bF8Fwse-CEctDt39AX8Zug0NUODhCWjFBWFoxWEhXSVFJVlZXTlZONUhQUy4u">Membership</a></h4>

            <hr class="hidden-md hidden-lg hidden-sm">
        </div>
        {{ end }}
        <!-- /.col-md-4 -->

        {{ if isset .Site.Params "address" }}
        <div class="col-md-4 col-sm-6">

          <h4>{{ i18n "contactTitle" }}</h4>

            {{ .Site.Params.address | markdownify }}

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}
    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->
