{{ if isset .Site.Params "media" }}
{{ if .Site.Params.media.enable }}
{{ if gt (len .Site.Data.media) 0 }}
<div class="container" id="media">

    <div class="jumbotron-media">
        <div class="container">
             <h1 class="text-center" style="color: white">{{ i18n "mediaMentions" }}</h1>
         </div>          
     </div>

     <br />
     <br />

    {{ range .Site.Data.media }}
    <div class="media">
        <div class="media-left">
            <a href="#"><img class="media-object" src="{{ .imageurl }}" width="64px"></a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ .title }}</h4>
            {{ .description }}
            <a href="{{ .url }}">{{ .url }}</a>
        </div>
    </div>
    {{ end }}

<!-- /.row -->
</div>
{{ end }}
{{ end }}
{{ end }}